/* developer styles go here */
/* Do the generic CSS first - This Css will be applied to all screens*/
body{
    /* add the base font properties */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

header,footer{
    background-color: tomato;
    margin-bottom: 24px;
}

h1{
    padding: 48px;
}

nav{
    background-color:yellowgreen;
    padding: 16px;
}

.banner{
    background-color: black;
    padding: 288px 0;
    margin-bottom: 24px;
}

.promo{
    background-color:lightseagreen;
    padding: 128px 0;
    margin-bottom: 24px;
}