/* developer styles go here */
/* Do the generic CSS first - This Css will be applied to all screens*/
body{
    /* add the base font properties */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.flex-container{
display: flex;
gap: 2%;
}

img{
    max-width: 100%;
    display: block;
}

header,
footer{
    background-color: #115194;
    margin-bottom: 24px;
}

h1{
    padding: 48px;
}

nav{
    background-color:#4bb19d;
    padding: 16px;
}

.banner{
    background-color: #b8bac3;
    padding: 288px 0;
    margin-bottom: 24px;
}

.promo{
    background-color:#b0d892; 
    padding: 128px 0;
    margin-bottom: 24px;
    width: 32%;
   
}

@media screen and (min-width:1300px) {

    .container{
        width:1200px;
        margin : 0 auto;
    }
}

@media screen and (min-width:1800px) {

    .container{
        width:1700px;
        
    }
}

/* the three key for RWD :
1) fluid container
2)media queries
3)flexble images */